.createPostContainer {
    position: absolute;
    top: 4rem;
    height: calc(100vh - 4rem);
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
}

.createPostFormDiv {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.createPostInput {
    width: 75vw !important;
}
