.postDetailContainerDiv {
    position: absolute;
    top: 4rem;
    width: 100vw;
    padding-bottom: 2vh;
}

.postInformationDiv {
    display: flex;
    justify-content: center;
}

.postInformationInfo {
    padding-left: 2vw;
    padding-right: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    width: 50vw;
}

.postDetailInfo {
    margin: 0;
}

.postDetailEditIcon {
    color: var(--orange);
    transition: 0.3s color;
}

.postDetailEditIcon:hover {
    color: white;
    transition: 0.3s color;
    cursor: pointer;
}
