body,
html {
    height: 100%;
    margin: 0;
}

.fullActivity {
    flex: 1;
    overflow-y: auto;
    background-color: var(--gray_E);
    height: calc(100vh - 4em);
    position: absolute;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
}

#btn {
    background-color:var(--orange);
}
.imageDiv {
    height: 100%;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details {
    height: 100%;
    width: 50vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.onlineOrLocInfo {
    margin: 0;
}

.text {
    text-align: left;
    font-weight: 400;
    width: 100%;
    padding-right: 1.5vw;
}

.byUsername {
    text-align: left;
    width: 100%;
}

.by {
    font-weight: 400;
}

.username {
    font-weight: 600;
    color: var(--orange);
}

.title {
    text-align: left;
    width: 100%;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding-right: 1.5vw;
}

.otherDetails {
    width: 100%;
    display: flex;
    align-items: center;
}

.link {
    color: var(--orange);
    display: flex;
    justify-content: center;
}

.location {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}

.online {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}

.website {
    width: 50%;
    display: flex;
    justify-content: center;
}

.websiteIcon {
    margin-right: 3px;
}

.mapIcon {
    margin-right: 3px;
}

.laptopIcon {
    margin-right: 5px;
}

.img {
    height: 85%;
    width: 80%;
    border-radius: 10%;
}

.badge:first-child {
    margin-left: 10px;
}

.badge {
    margin: 3px;
}

@media (max-width: 950px) {
    .details {
        width: 90vw;
    }

    .text {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .title {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .byUsername {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .website {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .online {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .location {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (max-width: 700px) {
    .byUsername {
        display: none;
    }
}

@media (max-width: 600px) {
    .text {
        font-size: 13px;
    }
}
