:root {
    --orange: #ff6d00;
    --gray_A: #1c1c21;
    --gray_B: #343434;
    --gray_C: #464646;
}

.card {
    background-color: white;
    width: 250px;
    height: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
    border-radius: 7px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
    text-align: center;
    border-style: solid;
    box-shadow: 0px 0px 0px 0px;
    position: relative;
    cursor: pointer;
    flex: 0 0 auto;
    overflow: hidden;
    box-sizing: content-box;
    padding-right: 2px;
    padding-left: 2px;
    border: 1px 1px 1px 1px solid var(--white);
}

/* .card:hover{
    transform: scaleX(1.2) scaleY(1.25);
    transition-delay: 1s;
    text-align: center;
    border-style: solid;
    box-shadow: 0px 0px 3px 3px var(--orange);
    z-index: 1;
}
.card:hover .card_body_text,
.card:hover .card_title_text{
    transform:scaleX(0.833) scaleY(0.8);
    transition-delay: 1s;
} */

.card_body_text {
    color: black;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
}

.card_title_text {
    color: black;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
}

.card_author_text {
    color: black;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
}
