body,
html {
    height: 100%;
    margin: 0;
}

#root {
    height: 100vh;
    width: 100vw;
}

.homeDiv {
    height: calc(100vh - 4em);
    position: absolute;
    bottom: 0;
    width: 100vw;
    overflow-x: hidden;
}

.title_carousel_container {
    height: 55vh;
    display: block;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    width: 100vw;
}

.home_main_carousel {
    display: flex;
    overflow: hidden;
    width: 100vw;
}

.home_previous_button {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 10;
    height: 100%;
    opacity: 40%;
    border: 1px 1px 1px 1px black;
    transition: all 0.5s;
    width: 4vw;
}
.home_previous_button:hover {
    opacity: 70%;
}

.home_previous_button:focus {
    outline: none;
}

.home_next_button {
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: 10;
    height: 100%;
    opacity: 40%;
    transition: all 0.5s;
    width: 4vw;
}

.home_next_button:hover {
    opacity: 70%;
}

.home_next_button:focus {
    outline: none;
}

.loadingDiv {
    height: calc(100vh - 4em);
    position: absolute;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    position: absolute;
    display: flex;
    top: 10%;
}

#section2 {
    top: 40%;
}

#title_container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    height: 9em;
}

#Home_Logo_Img {
    width: 8rem;
    height: 8rem;
}

.section h2 {
    margin-bottom: -2%;
}

.sectionTitle {
    padding-left: 1%;
    margin-left: 2%;
    text-align: left;
}

.cardWrapper {
    display: flex;
}
