body,
html {
    height: 100%;
    margin: 0;
}

#root {
    height: 100vh;
    width: 100vw;
}

.searchDiv {
    height: calc(100vh - 4em);
    position: absolute;
    bottom: 0;
    width: 100vw;
    overflow-x: hidden;
}

.searchSubDiv {
    display: flex;
    flex-direction: row;
}

.filterDiv {
    height: calc(100vh - 4em);
    width: 30vw;
    position: fixed;
    left: 0;
    top:4em;
    padding-left: 1vw;
    padding-right: 1vw;
    border-right: 1px var(--gray_C) solid;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.resultsDiv {
    width: 70vw;
    display: grid;
    grid-template-columns: auto auto auto;
    position: absolute;
    right: 0;
    top: 0;
    flex-wrap: wrap;
    padding-left: 2vw;
    gap: 5px 5px;
}

.filterInput {
    width: 100%;
    margin: 0;
}


.search_input_div {
    width: 100%;
    margin-top: 4vh;
}

#search_search_bar {
    width: 100%;
}


.search_filter_input_main_div{
    margin-top:5vh;
}


#grade_filter_div {
    width: 100%;
}

#cost_filter_div {
    width: 100%;
}


#mode_filter_div {
    width: 100%;
}


#tags_filter_div {
    max-height: 10vh;
    height: 10vh;
}

.submit_search_buttons {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
}

.submit_search_individual_button {
    margin: 0.5vh;
    height: 8vh;
    width: 50%;
    border: 1px solid var(--gray_B);
    background-color: var(--gray_E);
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 90%;
    font-weight: 600;
    display: border-box;
}

.submit_search_individual_button:hover {
    background-color: var(--orange);
    border: 1px solid var(--orange);
}

.submit_search_individual_button:focus {
    background-color: var(--orange);
    outline: none;
    border: 1px solid var(--orange);
}

.filterDiv .mantine-TextInput-input {
    border-bottom: 1px solid var(--gray_C) !important;
    border-top: 1px solid var(--gray_C) !important;
    border-left: 1px solid var(--gray_C) !important;
    border-right: 1px solid var(--gray_C) !important;
    border-radius: 3px !important;
    background-color: var(--gray_E) !important;
}

.filterDiv .mantine-MultiSelect-input {
    border-bottom: 1px solid var(--gray_C) !important;
    border-top: 1px solid var(--gray_C) !important;
    border-left: 1px solid var(--gray_C) !important;
    border-right: 1px solid var(--gray_C) !important;
    border-radius: 3px !important;
    background-color: var(--gray_E) !important;
}

.filterDiv .mantine-DatePickerInput-input {
    border-bottom: 1px solid var(--gray_C) !important;
    border-top: 1px solid var(--gray_C) !important;
    border-left: 1px solid var(--gray_C) !important;
    border-right: 1px solid var(--gray_C) !important;
    border-radius: 3px !important;
    background-color: var(--gray_E) !important;
}

.submit_search_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:5vh;
}

.resultsP {
    margin: 0;
    margin-top: 20px;
    font-weight: 500;
    color: var(--orange);
}
