:root {
    --bar-width: 40px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --black: black;
    --white: white;
    --hamburger-margin: 8px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
    --orange: #ff6d00;
    --gray_A: #1c1c21;
    --gray_B: #343434;
    --gray_C: #464646;
    --gray_D: #1e1e1e;
    --gray_E: #161616;
}

.navbar {
    position: absolute;
    top: 0;
    height: 4em;
    background-color: var(--gray_E);
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100vw;
    width: 100vw;
    z-index: 10;
    justify-content: space-between;
}

.navbar button {
    color: white;
    height: 4em;
    border-radius: 0;
    border: 0px;
    background-color: var(--gray_E);
    transition: all 0.5s;
}

.navbar button:hover {
    color: var(--orange);
}

.navbar button:focus {
    outline: none;
}

.right-buttons {
    display: flex;
    margin-left:auto;
    justify-content: flex-end;
}

#burger {
    margin: 0.4rem 0.5rem;
    z-index: 15;
    position: absolute;
}

#burger:focus {
    outline: none;
}

.sidebar {
    padding: 0.5rem 1rem;
    background-color: var(--gray_E);
    position: absolute;
    top: 0;
    padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
    color: var(--black);
    max-width: 20rem;
    width: 15rem;
    min-height: 100%;
    z-index: 11;
    justify-content: space-between;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sidebar nav button {
    color: var(--white);
    position: relative;
    height: 4em;
    width: 100%;
    border-radius: 0;
    border: 0px;
    background-color: var(--gray_E);
    transition: all 0.5s;
}

.sidebar nav button:hover {
    color: var(--orange);
}

.sidebar {
    display: flex;
    flex-direction: column;
}

#sidebar_parent {
    position: fixed;
    top: 0em;
    min-height: 100%;
    z-index: 11;
}
