:root {
    --bar-width: 40px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --foreground: black;
    --background: white;
    --hamburger-margin: 8px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 3.2em;
    background-color: black;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.navbar a {
    position: fixed;
    color: white;
}

.home {
    left: 1.5em;
}

.studentForum {
    left: 7em;
}

.schoolHub {
    left: 17em;
}

.profile,
.login {
    right: 2em;
}

.signup {
    right: 6em;
}

@media (prefers-color-scheme: light) {
    :root{
        --foreground:white;
        --background:black;
    }
    .navbar {
        background-color: white;
    }

    .navbar a {
        color: black;
    }
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: absolute;
    top: 8px;
    left: 5px;
    z-index: 3;
    cursor: pointer;
}


.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--background);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing);
}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
}
.hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
}

.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
}

.sidebar {
    display: none;
    transition: translate var(--animation-timing);
    translate: -100%;
    padding: 0.5rem 1rem;
    background-color: var(--foreground);
    position: absolute;
    padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
    color: var(--foreground);
    max-width: 10rem;
    min-height: 100%;
    z-index: 2;
    justify-content: space-between;
}
.sidebar nav {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
    height: 100%;
}

.sidebar nav a {
    color: var(--background);
}

.hamburger-menu:has(input:checked) + .sidebar {
    translate: 0;
}

@media (max-width: 600px) {
    .navbar a {
        display: none;
    }
    .hamburger-menu {
        display: flex;
        z-index: 5;
    }
    .sidebar{
        display:flex;
        flex-direction: column;
    }
}
