:root {
    --bar-width: 40px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --foreground: black;
    --background: white;
    --hamburger-margin: 8px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);

    --orange: #ff6d00;
    --gray_A: #1c1c21;
    --gray_B: #343434;
    --gray_C: #464646;
}

.navbar {
    position: fixed;
    top: 0;
    height: 4em;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    max-width: 100%;
    width: 100%;
}

.navbar button {
    position: relative;
    color: white;
    height: 4em;
    border-radius: 0;
    border: 0px;
    background-color: black;
    transition: all 1s;
}

.navbar button:hover {
    background-color: var(--gray_C);
}

.navbar button:focus {
    outline: none;
}

.home {
    left: 0em;
}

.studentForum {
    left: 0em;
}

.schoolHub {
    left: 0em;
}

.right-buttons {
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
}

.profile,
.login {
    margin-left: auto;
}

.profile{
    color:white;
}

.profile:hover{
    color:white;
}

.signup {
    margin-left: auto;
}

@media (prefers-color-scheme: light) {
    :root {
        --foreground: white;
        --background: black;
    }
    .navbar {
        background-color: white;
    }

    .navbar a {
        color: black;
    }
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: absolute;
    top: 0.85em;
    left: 1em;
    z-index: 3;
    cursor: pointer;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--background);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing);
}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
}
.hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
}

.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
}

.sidebar {
    display: none;
    transition: translate var(--animation-timing);
    translate: -100%;
    padding: 0.5rem 1rem;
    background-color: var(--foreground);
    position: absolute;
    top: 0;
    padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
    color: var(--foreground);
    max-width: 10rem;
    min-height: 100%;
    z-index: 2;
    justify-content: space-between;
}
.sidebar nav {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sidebar nav button {
    color: var(--background);
    position: relative;
    height: 4em;
    width: 10rem;
    border-radius: 0;
    border: 0px;
    background-color: black;
    transition: all 1s;
}

.sidebar nav button:hover {
    background-color: var(--gray_C);
}

.hamburger-menu:has(input:checked) + .sidebar {
    translate: 0;
}

@media (max-width: 600px) {
    .navbar button {
        display: none;
    }
    .hamburger-menu {
        display: flex;
        z-index: 5;
    }
    .sidebar {
        display: flex;
        flex-direction: column;
    }
}
