.chip {
    display: flex;
    width: max-content;
    margin-left: 2vw;
    margin-right: 2vw;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    font-weight: 600;
    font-size: 1.1em;
}

.mantine-Chip-root{
    margin-right: 0 !important;
}

.mantine-Chip-label {
    background-color: var(--gray_A) !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    transition: 0.3s background-color;
}

.mantine-Chip-label:hover {
    background-color: var(--gray_D) !important;
}

.mantine-Chip-input:checked ~ .mantine-Chip-label {
    background-color: var(--orange) !important;
}

.mantine-Chip-label span {
    font-weight: 700;
    font: Helvetica;
}
