#Whole_Container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
}

#Signup_Text_Container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    flex-direction: column;
    height: fit-content;
}

#Signup_Text {
    margin-bottom: 5px;
}

.errorDiv {
    margin: 0;
    color: red;
}

#Stepper_Container {
    color: var(--white);
    max-width: 100%;
    height: 15vh;
    align-items: center;
    justify-content: center;
    padding-right: 2vw;
    padding-left: 2vw;
    margin-top: 0.5em;
}

#Signup_Stepper {
    width: 100%;
}

#Steps_Container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    white-space: nowrap;
    height: 100%;
}

.Individual_Step {
    border: 0px solid var(--gray_E);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    min-height: 50vh;
    height: 75vh;
    margin-bottom: 10px;
}

#Individual_Step_1 {
    width: 100%;
}

#Individual_Step_2 {
    width: 100%;
}

#Individual_Step_3 {
    width: 100%;
    flex-direction: column;
}

#Interests_Box_Title {
    margin: 0;
}

.Form_Container {
    width: 75%;
    border: 0.2em solid var(--gray_A);
    border-radius: 10px;
    margin: 0 !important;
    height: 100% !important;
    padding-right: 3em;
    padding-left: 3em;
    padding-top: 0em;
    padding-bottom: 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#Interests_Container {
    padding-left: 1vw;
    padding-right: 1vw;
}

.All_Interest_Items {
    display: flex;
    flex-wrap: wrap;
}

#Interests_Container {
    width: 75%;
    height: 75%;
    overflow-y: scroll;
    padding-bottom: 0.5em;
    margin-bottom: 20vh;
    margin-top: 10vh;
}

.Interests_Signup_Box {
    margin-top: 1vh;
    min-width: 33.3%;
    height: 7vh;
    background-color: var(--gray_A);
    border-radius: 20px;
}

.sign_up_next_button_container {
    position: absolute;
    right: 1%;
    top: 50%;
    border-radius: 50%;
}

.sign_up_prev_button_container {
    position: absolute;
    left: 1%;
    top: 50%;
    border-radius: 50%;
}

.sign_up_next_button {
    background-color: var(--orange);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    opacity: 1;
    text-align: center;
    cursor: pointer;
}

.sign_up_prev_button {
    background-color: var(--orange);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    opacity: 1;
    text-align: center;
    cursor: pointer;
}

.sign_up_next_button:hover {
    background-color: var(--white);
    color: var(--orange);
    opacity: 1;
}

.sign_up_prev_button:hover {
    background-color: var(--white);
    color: var(--orange);
    opacity: 1;
}

.sign_up_next_button:focus {
    outline: none;
}

.sign_up_prev_button:focus {
    outline: none;
}

.sign_up_submit_button_container {
    position: absolute;
    right: 1%;
    top: 50%;
    border-radius: 50%;
}

.sign_up_submit_button {
    background-color: var(--orange);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    opacity: 1;
    text-align: center;
    cursor: pointer;
}

.sign_up_submit_button:hover {
    background-color: var(--white);
    color: var(--orange);
    opacity: 1;
}

.sign_up_submit_button:focus {
    outline: none;
}

.mantine-Stepper-root :focus {
    outline: none;
}

.mantine-PasswordInput-input {
    background-color: var(--gray_E) !important;
    font-family: "Inter", sans-serif !important;
    text-align: center !important;
    border-bottom: 2px solid var(--gray_A) !important;
    border-top: 1px solid var(--gray_E) !important;
    border-left: 1px solid var(--gray_E) !important;
    border-right: 1px solid var(--gray_E) !important;
    border-radius: 0 !important;
    transition: 0.3s all;
}

.mantine-PasswordInput-root {
    text-align: center !important;
    width: 100%;
    margin-top: 1.5em;
}

.mantine-TextInput-input {
    border-bottom: 2px solid var(--gray_A) !important;
    border-top: 1px solid var(--gray_E) !important;
    border-left: 1px solid var(--gray_E) !important;
    border-right: 1px solid var(--gray_E) !important;
    border-radius: 0 !important;
    background-color: var(--gray_E) !important;
    font-family: "Inter", sans-serif !important;
    transition: 0.3s all;
}

.mantine-TextInput-input:focus {
    border-bottom: 2px solid var(--orange) !important;
}

.mantine-PasswordInput-input:focus-within {
    border-bottom: 2px solid var(--orange) !important;
}

.mantine-TextInput-root {
    margin-top: 1.5em;
    width: 100%;
}

@media (max-width: 850px) {
    .sign_up_submit_button,
    .sign_up_prev_button,
    .sign_up_next_button {
        width: 10vw;
        height: 10vw;
    }
}

@media (max-width: 600px) {
    .sign_up_next_button_container,
    .sign_up_submit_button_container {
        position: absolute;
        top: 90%;
        right: 3%;
    }

    .sign_up_prev_button_container {
        position: absolute;
        top: 90%;
        left: 3%;
    }

    .sign_up_submit_button,
    .sign_up_prev_button,
    .sign_up_next_button {
        width: 45vw;
        height: 10vw;
        border-radius: 10px;
    }

    .sign_up_submit_button:hover,
    .sign_up_prev_button:hover,
    .sign_up_next_button:hover {
        background-color: var(--orange);
        color: var(--white);
    }

    #root {
        overflow: hidden;
    }
}
