#Whole_Container{
    width:100vw;
    display: flex;
    flex-direction: column;
}

#Signup_Text_Container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 99vw;
}

#Signup_Text{

}

#Stepper_Container{
    color:var(--white);
    max-width: 100%;
    height:20vh;
    align-items: center;
    justify-content: center;
    padding-right:2vw;
    padding-left:2vw;
    margin-top: 0.5em;
}

#Signup_Stepper{
    width: 100%;
}


#Steps_Container{
    display: flex;
    flex-direction: row;
    width: 100%;
}


.Individual_Step{
    margin-right:5%;
    border: 1px solid var(--gray_E);
    border-right: 1px solid var(--gray_B);
    align-items: center;
    justify-content: center;
}


#Individual_Step_1{
    width:80%;

}
#Individual_Step_2{
    width:5%;

}

#Individual_Step_3{
    width: 5%;
    margin-right:0%;
    border:1px solid var(--gray_E)
}

.Form_Container{
    display: flex;
    flex-direction: column;
    width:100%;
    align-items: center;
    justify-content: center;
}

.Signup_Input {
    padding: 0.2vh;
    font-family: 'Inter', sans-serif;
    border: 2px solid var(--gray_E);
    border-bottom: 2px solid white;
    margin: 0.5vh;
    border-radius: 3px;
    padding: 0.8vh;
    background-color: var(--gray_E);
    transition: all 0.4s;
    text-align: center;
    font-size: 2.5vh;
    margin-bottom: 3vh;
    font-weight: 540;
    width: 50vh;
    height:5vh;
    color:white;
    margin-bottom: 1em;
}

.Signup_Input:hover {
    border-bottom: 2px solid var(--orange);
}

.Signup_Input:focus {
    outline: none;
    border-bottom: 2px solid var(--orange);
}


.mantine-Stepper-root :focus{
    outline:none;
}